*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue), 100%, 50%);
  --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
  --color-secondary: #ffb116;
  --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
  --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
  --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
  --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
  --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
  --color-gray-600: hsl(var(--gray-hue), 48%, 15%);
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: var(--color-gray-600);
  color: var(--color-gray-200);
  overflow-x: hidden;
  line-height: 1.7;
}
.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-gray-100);
}
h1 {
  font-size: 3rem;
}
a {
  color: var(--color-gray-100);
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.btn {
  background-color: var(--color-primary);
  color: var(--color-grey-100);
  width: fit-content;
  border-radius: 1.5rem;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-gray-600);
}
.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}
.btn.sm:hover {
  background-color: var(--color-gray-100);
}

section {
  margin-top: 10rem;
}
.section-head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section-head span {
  background-color: var(--color-gray-500);
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-size: 1.5rem;
}
.card {
  background-color: var(--color-gray-500);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem;
  transition: var(--transition);
}
.card:hover {
  background-color: transparent;
  border-color: var(--color-gray-400);
  cursor: default;
}
.card span {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}
.card:hover span {
  background-color: var(--color-secondary);
  color: var(--color-gray-600);
}
.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}
.header {
  margin-top: 5rem;
  height: 20rem;
  overflow: hidden;
}
.header-container {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.header-container-bg {
  position: absolute;
  width: 100%;
}
.header-container-bg img {
  opacity: 0.5;
  margin-top: 22rem;
}
.header-content {
  width: 44%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: var(--color-gray-100);
}
.header-container h2 {
  margin-bottom: 1rem;
}
.header-content p {
  color: rgba(255, 255, 255, 0.7);
}

/* Media Qureies (medium screens)*/
@media (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .header-content {
    width: 76%;
  }
}
/* Media Qureies (small screens)*/
@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.3;
  }
  .section {
    margin-top: 7rem;
  }
  .section-head {
    justify-content: center;
    gap: 0.5rem;
  }
  .section-head > h2 {
    font-size: 1.3rem;
  }
  .section-head > span {
    font-size: 1rem;
  }
  .header-container-bg img {
    margin-top: 1rem;
  }
  .header-content {
    width: var(--container-width-md);
    font-size: 0.85rem;
  }
}
